body, html{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.margin {
    margin: 0 auto;
    margin-top: 0;
}

.btn-select{
    margin: 0 auto;
    padding: 2%;
    width: 30%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.color-white {
    color: #fff;
}

.title-form {
    font-weight: bold;
    color: #000;
    text-align: center;
}